<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/pagina-inicial"><i class="fa-solid fa-house"></i></a></li>
    <li class="breadcrumb-item active">Dashboard</li>
  </ol>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-xl-4 col-lg-6">
      <div class="card border border-primary rounded shadow-lg">
        <div class="bg-primary bg-opacity-25 card-body">
          <div class="text-center">
            <i class="fa-solid fa-person fa-2x"></i>
          </div>
          <div>
            <p class="fs-6 text-center">
              Pacientes<br>
              <span class="fs-1">{{ totalPacientes }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-4 col-lg-6">
      <div class="card border border-success rounded shadow-lg">
        <div class="bg-success bg-opacity-25 card-body">
          <div class="text-center">
            <i class="fa-solid fa-notes-medical fa-2x"></i>
          </div>
          <div>
            <p class="fs-6 text-center">
              Atendimentos<br>
              <span class="fs-1">{{ totalAtendimentos }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-4 col-lg-6">
      <div class="card border border-warning rounded shadow-lg">
        <div class="bg-warning bg-opacity-25 card-body">
          <div class="text-center">
            <i class="fa-solid fa-paperclip fa-2x"></i>
          </div>
          <div>
            <p class="fs-6 text-center">
              Exames<br>
              <span class="fs-1">{{ totalExames }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
