<app-loader [show]="this.aguardar "></app-loader>
<ap-floating-button (click)="incluir()"><i class="fa fa-plus fa-2x"></i></ap-floating-button>

<app-breadcrumb [title]="'Pesquisar Pacientes'" [active_item]="'Pacientes'"></app-breadcrumb>

<div class="col-12 col-md-12">
  <div class="card border border-primary rounded shadow-lg">
    <div class="card-body custom-datatable table-responsive table-border-radius">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-styling">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">E-mail</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let paciente of this.lista ">
            <td>{{ paciente.id }}</td>
            <td>{{ paciente.nome }}</td>
            <td>{{ paciente.telefone | phone: 'BR' }} <i *ngIf="paciente.whatsapp" class="icofont icofont-brand-whatsapp"></i></td>
            <td>{{ paciente.email }}</td>
            <td>
              <button (click)="editar(paciente)"><i class="fa fa-pencil"></i></button>
              <button (click)="excluir(paciente)"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ap-exibe-mensagem #exibeMensagem></ap-exibe-mensagem>
