<apcore-widget-floating-button (click)="incluir()"><i class="bi bi-plus-lg fs-2"></i></apcore-widget-floating-button>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="margin-top: -23px">
    <li class="breadcrumb-item"><a routerLink="/pagina-inicial"><i class="bi bi-house-door"></i></a></li>
    <li class="breadcrumb-item active">Pacientes</li>
  </ol>
</nav>

<div class="container">

  <div class="card border border-primary rounded shadow-lg">

    <ngx-loading [show]="aguardar" [config]="{ primaryColour: '#dd0031', secondaryColour: '#fff', animationType: ngxLoadingAnimationTypes.doubleBounce }"></ngx-loading>

    <div class="card-body custom-datatables table-responsive table-border-radius">
      <table id="datatable-pesquisar-paciente" class="table table-styling table-striped nowrap align-middle w-100">
        <thead>
          <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-start">Nome</th>
            <th scope="col" class="text-center">Telefone</th>
            <th scope="col" class="text-center">E-mail</th>
            <th scope="col" class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let paciente of this.lista ">
            <td class="text-center">{{ paciente.id }}</td>
            <td class="text-start">{{ paciente.nome }}</td>
            <td class="text-center">{{ paciente.telefone }} <i *ngIf="paciente.whatsapp" class="bi bi-whatsapp"></i></td>
            <td class="text-center">{{ paciente.email }}</td>
            <td class="text-center">
              <div class="btn-group">
                <button class="btn btn-success btn-sm" (click)="editar(paciente)"><i class="bi bi-pencil"></i></button>
                <button class="btn btn-danger btn-sm" (click)="excluir(paciente)"><i class="bi bi-trash"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
